{% extends "stocktrader/base.html" %}

{% block title %}
  Porfolio
{% endblock %}

{% block main %}
<h1>Your Portfolio</h1>
<div class="table-responsive table-hover">
<table class="table table-sm">
  <thead class="thead-light">
  <tr>
    <th>Stock</th>
    <th>Company</th>
    <th>Shares</th>
    <th>Current Value</th>
  </tr>
  </thead>
  <tbody>
  {% for stock, d in portfolio.items %}
  <tr>
    <td>{{ stock }}</td>
    <td>{{ d.name }}</td>
    <td>{{ d.quantity }}</td>
    <td>{{ d.value }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td></td>
    <td></td>
    <th>Cash on hand:</th>
    <th>{{ cash }}</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <th>TOTAL</th>
    <th>{{ total }}</th>
  </tr>  </tbody>
</table>
</div>
{% endblock %}
